alabaster==0.7.12
anyio==3.4.0
asgiref==3.4.1
astroid==2.9.1
atomicwrites==1.4.0
attrs==21.4.0
Babel==2.9.1
bcrypt==3.2.0
black==21.12b0
boto3==1.20.29
botocore==1.23.29
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
coverage==6.3
cryptography==36.0.1
distlib==0.3.4
dnspython==2.1.0
docutils==0.17.1
dparse==0.5.1
ecdsa==0.17.0
email-validator==1.1.3
fastapi==0.70.1
filelock==3.4.2
flake8==4.0.1
greenlet==1.1.2
h11==0.12.0
httptools==0.2.0
identify==2.4.1
idna==3.3
imagesize==1.3.0
iniconfig==1.1.1
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
mccabe==0.6.1
mypy-extensions==0.4.3
nodeenv==1.6.0
orjson==3.6.5
packaging==21.3
passlib==1.7.4
pathspec==0.9.0
platformdirs==2.4.1
pluggy==1.0.0
pre-commit==2.16.0
py==1.11.0
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
pyflakes==2.4.0
Pygments==2.11.1
pylint==2.12.2
pyparsing==3.0.6
pytest==6.2.5
python-dateutil==2.8.2
python-dotenv==0.19.2
python-jose==3.3.0
python-multipart==0.0.5
pytz==2021.3
PyYAML==5.4.1
requests==2.26.0
rsa==4.8
s3transfer==0.5.0
safety==1.10.3
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.2.0
Sphinx==4.3.2
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.29
starlette==0.16.0
toml==0.10.2
tomli==1.2.3
typing_extensions==4.0.1
ujson==5.1.0
urllib3==1.26.7
uvicorn==0.15.0
virtualenv==20.12.1
watchgod==0.7
websockets==10.1
wrapt==1.13.3
