.profilePicture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 5%;
}

.videoThumbnail {
    width: 95%;
    height: 50%;
    transition: transform .2s;
}

.videoThumbnail:hover {
    transform: scale(1.5);
    transition-delay:0.9s;
}

.videoThumbnailContent {
    margin-top:5%;
    margin-bottom: 5%;
}

.videoLength {
    margin-top: 0%;
    margin-bottom: 15%;
}