.profilePicture {
    border-radius: 50%;
}


.containsVideo{
    margin-left: 2%;
    margin-right: 2%;
}

#videoPlayer {
    width: 70%;
    height: 50%;
}

#videoTitle {
    text-align: left;
    margin-left: 15%;
}

.videoViewsTimestamp {
    text-align: left;
    margin-left: 15%;
}

#commentBox {
    width: 50%;
}

#likeDislikeDisplay {
    text-align: right;
    margin-right: 15%;
}

#videoMetaData {
    margin-left: 15%;
}

#displayCommentBox {
    margin-left: 15%;
}


.displayComment {
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}