<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--Favicon-->
    <link id="favicon" rel="icon" href="{{ url_for('static', path='/assets/MyViewFavicon.png') }}">

    <!--Static Folders-->
    <script src="{{ url_for('static', path='/script.js') }}"></script>
    <!--stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">


    <!-- Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!--React Support-->
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>



    <title>MyView {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
      <div class="container-fluid">
        <a class="navbar-brand ml-auto" href="/">
          <img src="{{ url_for('static', path='/assets/MyViewLogo.png') }}" alt="logo" width="90" height="75">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <!--Search Bar-->
          <form class="mx-auto d-flex w-50" action="/search" method="GET">
            <input class="form-control me-2" name="search_query" id="search_query" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light" type="submit">🔍</button>
          </form>

          <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-auto">
              <a class="nav-link active" aria-current="page" href="/upload">Upload</a>
            </li>
            <!-- Login and register to be if based on authentication-->
            <!--If user is logged in -->
            {% if active_user %}
            <div class="collapse navbar-collapse">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ active_user.username }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
              </li>
            </div>
            {% else %}
            <!--If user not logged in show login and register prompt -->
            <li class="nav-item mr-auto">
              <a class="nav-link active" aria-current="page" href="/login">Login</a>
            </li>
            <li class="nav-item mr-auto">
              <a class="nav-link active" aria-current="page" href="/register">Register</a>
            </li>
            {% endif %}
          </ul>

        </div>
      </div>
    </nav>
    <!--Error Messages-->
    {% if message %}
    <div id="messageBase" class="alert alert-{{ tag }} alert-dismissible fade show d-flex justify-content-center" role="alert">
        <strong>Message: </strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}


    <div id="content">{% block content %}{% endblock %}</div>

    <div id="footer">
    {% block footer %}

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  {% endblock %}
</div>
</body>
</html>