{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<!--css style sheet-->
<link rel="stylesheet" href="{{ url_for('static', path='/index.css') }}">

<!--Add Thumbnails here-->
<div class="container">
  <div class="row row-cols-3 mx-auto">
   {% for video in videos %}
   <div class="col">
    <a href="video/{{ video.video_link}}"><img src="{{ thumbnail_url}}/{{ video.video_link }}" width="480" height="360" alt="..." class="img-thumbnail"></a>
          {% if get_profile(video.video_username)%}
            <img class="profilePicture" src="{{ profile_picture_url}}/{{ video.video_username }}"
            width="30" height="30" alt="..." class="img-thumbnail">
          {% else %}
            <img class="profilePicture" src="{{ url_for('static', path='/assets/default_picture.jpg') }}"
            width="30" height="30" alt="..." class="img-thumbnail">
          {% endif %}
          <h6>{{ video.video_name }}</h6>
          <p>{{ video.video_username }}</p>
          <p><strong>{{ video.views }} Views</strong></p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}