{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<!--action="/login" method="POST" enctype="multipart/form-data"-->
<form class="mx-auto w-25" action="/login" method="POST">
  <div class="form-group">
    <input placeholder= "username@domain.com" type="email" autocomplete="off"  class="form-control" id="LoginInputEmail" aria-describedby="loginEmail"><br>
    <input placeholder= "password" type="password" autocomplete="off"  class="form-control" id="LoginInputPassword" aria-describedby="loginPassword"><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}