{% extends "base.html" %}
{% block title %}- Upload Video{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
<form action="/upload_file" method="POST" enctype="multipart/form-data">
    <!--DemoVideo-->
    <h1 class="display-4 d-flex justify-content-center">Video</h1>
    <video id="demoVideo" width="480" height="320" poster="{{ url_for('static', path='/assets/stock.png') }}" controls><source src="" title="" type="video/mp4"></video>
    <div class="mb-3">

        <input type="file" name="video_file" class="form-control" id="inputVideoFile" aria-describedby="inputGroupFileAddon04" aria-label="Upload" oninput="checkVideo()" accept="video/mp4,video/x-m4v,video/*">
    </div>
    <!--Canvas Display Keep Hidden-->
    <canvas id="thumbnailDisplay" width="480" height="320" style="display: none;"></canvas><br>
    <!--Thumbnail Display-->
    <div class="mb-3">
        <h1 class="display-4 d-flex justify-content-center">Thumbnail</h1>
        <img id="thumbnailImage" width="480" height="320" src="{{ url_for('static', path='/assets/stock.png') }}">
    </div>
    <div class="mb-3 d-flex justify-content-center">
        <button type="button" id="thumbnailCapturebtn" disabled="true" class="btn btn-outline-primary" value="capture thumbnail" onclick="capture()">Capture Thumbnail</button>
    </div>
    <div class="mb-3">
        <input type="file" name="thumbnail" class="form-control" id="inputVideoThumbnail" aria-describedby="videoThumbnail" aria-label="UploadThumbmnail" oninput="checkImage()" accept="image/png, image/gif, image/jpeg, image/*">
    </div>

    <!--Video Name-->
    <div class="mb-3">
        <label for="formFile" class="form-label">Video Name</label>
        <input type="text" id="inputVideoName" name="videoName" class="form-control" aria-describedby="videoName" aria-label="videoName">
    </div>
    <!--Video Description-->
    <div class="mb-3">
        <label for="formFile" class="form-label">Video Description</label>
        <input type="text" name="videoDescription" class="form-control" aria-describedby="videoDescription" aria-label="videoDescription">
    </div>
    <!--Video Categories-->
    <div class="mb-3">
        <label for="formFile" class="form-label">Video Categories</label>
        <input type="text" name="videoCategories" class="form-control" aria-describedby="videoCategories" aria-label="videoCategories">
    </div>
    <!--Video Length-->
    <div class="mb-3">
        <label for="formFile" class="form-label">Video Length</label>
        <input type="number" id="inputVideoLength" name="videoLength" class="form-control" aria-describedby="videoLength" aria-label="videoLength" disabled="true">
    </div>
    <!--Video Height-->
    <div class="mb-3">
        <label for="formFile" class="form-label">Video Height</label>
        <input type="number" id="inputVideoHeight" name="videoHeight" class="form-control" aria-describedby="videoHeight" aria-label="videoHeight" disabled="true">
    </div>
    <!--Video Width-->
    <div class="mb-3">
        <label for="formFile" class="form-label">Video Width</label>
        <input type="number" id="inputVideoWidth" name="videoWidth" class="form-control" aria-describedby="videoWidth" aria-label="videoWidth" disabled="true">
    </div>


    <div class="mb-3 d-flex justify-content-center">
        <button class="btn btn-outline-primary" type="submit" id="inputGroupFileAddon04">
        Upload
        </button>
    </div>

</form>
</div>
<!--Javascript link-->
<script src="{{ url_for('static', path='/upload.js') }}"></script>
{% endblock %}